.div{
  text-align: center;
  direction: rtl;
  font-family: IRANSans;
}

.progress{
  text-align: center !important;
  width: 80px;
  height: 5px !important;
  display: inline-block;
}

.submitButton{
  margin-left: 10px;
  width: 120px;
  font-family: IRANSans;
}

.sectionForm{
  border: 1px solid #c2c2d2;
  margin-bottom: 7px;
  padding-top: 50px;
  box-shadow: 0px 2px 3px 0px gray;
  background-color: #f7f7f7;
  font-family: IRANSans;
  margin-bottom: 30px;
  padding-right: 40px;
  padding-bottom: 10px;
}

@font-face {
  font-family: 'IRANSans';
  src: local('IRANSans'), url(../../../assets/fonts/IRANSans.ttf) format('truetype');
}

.dateItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  /*flex-flow: column;*/
  align-items: center;
  height: 100%;
}

.inputDate{
  width: 100% !important;
  min-width: 200px !important;
}

.dateButton{
  margin-bottom: 23px !important;
}

hr{
  width: 75%;
  margin-bottom: 20px;
  box-shadow: 0px 2px 3px 0px gray;
  color: #f7f7f7;
}