.ant-steps-item-title{
    font-family: iranyekanwebmediumfanum !important;
    font-size: 8px !important;}

.ant-steps-icon{
    font-family: iranyekanwebmediumfanum !important;
    font-size: 12px !important;
}

h3{
    font-family: iranyekanwebmediumfanum;
    margin-bottom: 15px;
}

h4{
    font-family: iranyekanwebmediumfanum;
}
h5{
    font-family: iranyekanwebmediumfanum !important;
    font-size: 12px !important;
    color: black;
    margin-bottom: 15px;
}

a{
    font-family: iranyekanwebmediumfanum !important;
    font-size: 12px !important;
}
  
@font-face {
    font-family: 'iranyekanwebmediumfanum';
    src: local('iranyekanwebmediumfanum'), url(../../../assets/fonts/iranyekanwebmediumfanum.ttf) format('truetype');
}