.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .trigger:hover {
    color: #1890ff;
  }
  
  .logo {
    height: 32px;
    margin: 16px;
    background: rgb(245, 245, 245);
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }

  #container{
    background-image: url(../../assets/back.jpg);
  }
  .ant-layout-content{
    background-color: transparent !important;
  }

  .content{
    height: min-content;
    margin-right: 200px;
    font-family: iranyekanwebmediumfanum;
    background-image: url(../../assets/back.jpg);
  }

  .slider{
    max-width: 200px;
    min-width: 200px;
    width: 200px;
    position: fixed;
    height: 100%;
    top: 0px;
    right: 0px;
    z-index: 1;
    font-family: iranyekanwebmediumfanum;
  }

  @font-face {
    font-family: 'iranyekanwebmediumfanum';
    src: local('iranyekanwebmediumfanum'), url(../../assets/fonts/iranyekanwebmediumfanum.ttf) format('truetype');
  }